apiVersion: v1
kind: Service
metadata:
  name: app-service
  labels:
    app: app-service
spec:
  type: NodePort
  selector:
    app: app
  ports:
    - port: 8000       
      targetPort: 8000
      
